<div class="bike-card@@if(className){ @@className}">
    <div class="bike-card__carousel">
        <div class="bike-card__big-pic js-bike-card-carousel">
            <div class="bike-card__big-pic-item">
                <img class="lazyload" data-src="@@imgSrc" />
            </div>
            <div class="bike-card__big-pic-item">
                <img class="lazyload" data-src="@@imgSrc" />
            </div>
            <div class="bike-card__big-pic-item">
                <img class="lazyload" data-src="@@imgSrc" />
            </div>
            <div class="bike-card__big-pic-item">
                <img class="lazyload" data-src="@@imgSrc" />
            </div>
        </div>
        <div class="bike-card__preview @@if(isRightImg){bike-card__preview--left}">
            <button class="bike-card__preview-pic js-bike-card-slide-btn is-active" type="button" data-slide="1">
                <img data-src="@@imgSrc" class="lazyload" alt=""/>
            </button>
            <button class="bike-card__preview-pic js-bike-card-slide-btn" type="button" data-slide="2">
                <img data-src="@@imgSrc" class="lazyload" alt=""/>
            </button>
            <button class="bike-card__preview-pic js-bike-card-slide-btn" type="button" data-slide="3">
                <img data-src="@@imgSrc" class="lazyload" alt=""/>
            </button>
            <button class="bike-card__preview-pic js-bike-card-slide-btn" type="button" data-slide="4">
                <img data-src="@@imgSrc" class="lazyload" alt=""/>
            </button>
        </div>
    </div>
    <div class="bike-card__content@@if(isRightImg){ bike-card__content--left}">
        <a class="bike-card__name link link--bernier link--white" href="/bikes_catalog.html">@@name</a>
        @@if(desc) {
        <p class="bike-card__desc">
            При виде этого кастомного хот-род бэггера люди останавливаются как вкопанные. Цвет — матовый Charcoal Denim.
        </p>
        } @@if(price) {
        <div class="bike-card__footer">
            <p class="bike-card__price">@@price ₽</p>
            <button class="btn bike-card__btn" type="button">Купить</button>
        </div>
        } @@if(!price) {
        <button class="btn btn--white" type="button">Подробнее</button>
        }
    </div>
</div>
