<section class="bike-card@@if(className){ @@className}">
    <div class="bike-card__pic">
        <img class="lazyload" data-src="@@imgSrc">
    </div>
    <div class="bike-card__content@@if(isRightImg){ bike-card__content--left}">
        <a class="bike-card__name link link--bernier link--white" href="javascipt:;">@@name</a>
        <div class="bike-card__footer">
            <p class="bike-card__price">@@price ₽</p>
            <button class="btn" type="button">Купить</button>
        </div>
    </div>
</section>
