<li class="cart-items__item@@if(className){ @@className}">
    <div class="cart-items__item-img">
        <img data-src="@@imgLink" class="lazyload">
    </div>
    <div class="cart-items__item-content">
        <p class="cart-items__item-brand">@@brand</p>
        <a href="javascript:;" class="cart-items__item-name link link--white">@@title</a>
        <p class="cart-items__item-number">Артикул: 42328</p>
    </div>

    <div class="cart-items__item-aside">
        @@price ₽
        <button class="cart-items__item-remove" type="button">
            <svg class="icon icon--delete"><use xlink:href="#icon-delete"></use></svg>
        </button>
    </div>
</li>
