<div class="filter-modal js-filter-modal faster">
    <button class="filter-modal__close btn-close js-filter-close">
        <svg class="icon icon--close"><use xlink:href="#icon-close"></use></svg>
    </button>
    <div class="filter-modal__content">
        <h3 class="filter-modal__title">Фильтры</h3>

        <form action="">
            <div class="field is-filled">
                <select name="filter-family-modal" id="filter-family-modal" data-search="false">
                    <option value="1">Touring</option>
                    <option value="2">Пункт 2</option>
                    <option value="3">Пункт 3</option>
                    <option value="4">Пункт 4</option>
                    <option value="5">Пункт 5</option>
                </select>
                <label for="filter-family-modal" class="field__label">Семейство</label>
            </div>
            <div class="field is-filled">
                <select name="filter-year-modal" id="filter-year-modal" data-search="false">
                    <option value="1">2019</option>
                    <option value="2">2018</option>
                    <option value="3">2017</option>
                    <option value="4">2016</option>
                    <option value="5">2015</option>
                </select>
                <label for="filter-family-modal" class="field__label">Год выпуска</label>
            </div>
            <ul class="shop__filters-list">
                <li class="shop__filters-list-item">
                    <a href="javascript:;" class="link link--bernier link--white">Выхлопы vans & hines</a>
                </li>
                <li class="shop__filters-list-item">
                    <a href="javascript:;" class="link link--bernier link--grey">Выхлопы TBR</a>
                </li>
                <li class="shop__filters-list-item">
                    <a href="javascript:;" class="link link--bernier link--grey">Фильтры</a>
                </li>
                <li class="shop__filters-list-item">
                    <a href="javascript:;" class="link link--bernier link--grey">Подвеска</a>
                </li>
                <li class="shop__filters-list-item">
                    <a href="javascript:;" class="link link--bernier link--grey">Свет</a>
                </li>
                <li class="shop__filters-list-item">
                    <a href="javascript:;" class="link link--bernier link--grey">Крылья</a>
                </li>
                <li class="shop__filters-list-item">
                    <a href="javascript:;" class="link link--bernier link--grey">Ручки (грипсы)</a>
                </li>
                <li class="shop__filters-list-item">
                    <a href="javascript:;" class="link link--bernier link--grey">Экипировка</a>
                </li>
                <li class="shop__filters-list-item">
                    <a href="javascript:;" class="link link--bernier link--grey">Кронштейны</a>
                </li>
                <li class="shop__filters-list-item">
                    <a href="javascript:;" class="link link--bernier link--grey">Аксессуары</a>
                </li>
                <li class="shop__filters-list-item">
                    <a href="javascript:;" class="link link--bernier link--grey">Запчасти для ТО</a>
                </li>
            </ul>
        </form>
    </div>
    <a href="javascript:;" class="filter-modal__footer">
        Показать
    </a>
</div>
