<footer class="footer">
    <div class="container">
        <div class="footer__cols">
            <div class="footer__cols-item">
                <p class="footer__shop-title">Магазин</p>
                <ul class="footer__shop">
                    <li><a href="" class="link link--white">Выхлопы Vance & Hines</a></li>
                    <li><a href="" class="link link--white">Выхлопы TBR</a></li>
                    <li><a href="" class="link link--white">Тюнеры</a></li>
                    <li><a href="" class="link link--white">Фильтры</a></li>
                    <li><a href="" class="link link--white">Подвеска</a></li>
                    <li><a href="" class="link link--white">Свет</a></li>
                    <li><a href="" class="link link--white">Крылья</a></li>
                    <li><a href="" class="link link--white">Ручки (грипсы)</a></li>
                    <li><a href="" class="link link--white">Экипировка</a></li>
                    <li><a href="" class="link link--white">Кронштейны</a></li>
                    <li><a href="" class="link link--white">Аксессуары</a></li>
                    <li><a href="" class="link link--white">Запчасти для ТО</a></li>
                </ul>
            </div>
            <div class="footer__cols-item">
                <ul class="footer__menu">
                    <li><a href="" class="link link--bernier link--white">заказ по каталогам</a></li>
                    <li><a href="" class="link link--bernier link--white">мотоциклы</a></li>
                    <li><a href="" class="link link--bernier link--white">наши проекты</a></li>
                    <li><a href="" class="link link--bernier link--white">о нас</a></li>
                    <li><a href="" class="link link--bernier link--white">контакты</a></li>
                </ul>
            </div>
            <div class="footer__cols-item">
                <p>
                    <a href="tel:74994091101" class="link link--white link--bernier">+7 499 409 1101</a>
                </p>
                <p >
                    <a href="tel:79646430101" class="link link--white link--bernier">+7 964 643 0101</a>
                </p>
                <p class="mb-m">
                    <a href="mailto:info@harley-parts.ru" class="link link--white">info@harley-parts.ru</a>
                </p>
                <p class="mb-0">Московская облать, Солнечногорский район, д. Дурыкино, 1Д.</p>
            </div>
        </div>

        <hr class="footer__hr">

        <div class="footer__copyrights">
            <div class="footer__copyrights-col">
                <p class="footer__copyrights-text">&copy;&nbsp;2019 Все права защищены</p>
            </div>
            <div class="footer__copyrights-col footer__copyrights-col--center">
                <a href="http://www.truckcovers.ru/" class="footer__copyrights-link" target="_blank">
                    <img data-src="img/truckcovers.png" class="lazyload" alt="truckcovers">
                </a>
            </div>
            <div class="footer__copyrights-col">
                <ul class="socials">
                    <li class="socials__item">
                        <a href="javascript:;" class="socials__link">
                            <svg class="icon icon--insta"><use xlink:href="#icon-insta"></use></svg>
                        </a>
                    </li>
                    <li class="socials__item">
                        <a href="javascript:;" class="socials__link">
                            <svg class="icon icon--fb"><use xlink:href="#icon-fb"></use></svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
