<header class="header" @@if(isUiKit){style="background-color: black"}>
    <div class="header__container container">
        <div class="header__col">
            <p class="header__col-top">
                <a href="tel:74994091101" class="header__col-tel link link--grey">+7 499 409-1101</a>
                <button type="button" class="header__col-menu-btn js-menu-btn">
                    <svg class="icon icon--menu"><use xlink:href="#icon-menu"></use></svg>
                </button>
            </p>
            <div class="header__col-menu">
                <a href="javascript:;" class="link link--bernier link--white">Магазин</a>
                <a href="javascript:;" class="link link--bernier link--white">Заказ по каталогам</a>
                <a href="javascript:;" class="link link--bernier link--white">Мотоциклы</a>
            </div>
        </div>
        <div class="header__col header__col--logo">
            <a @@if(!isIndexPage){href="index.html"} class="header__logo">
                <svg class="icon icon--logo"><use xlink:href="#icon-logo"></use></svg>
            </a>
        </div>
        <div class="header__col">
            <p class="header__col-top header__col-top--right">
                @@if(isCartActive) {
                    <a href="javascript:;" class="header__col-cart link link--white js-cart-btn">
                        <span class="header__col-cart-text">Корзина</span>
                        <span class="qt">3</span>
                    </a>
                }
                @@if(!isCartActive) {
                    <a class="header__col-cart header__col-cart--empty">Корзина пуста</a>
                }
            </p>
            <div class="header__col-menu">
                <a href="javascript:;" class="link link--bernier link--white">Наши проекты</a>
                <a href="javascript:;" class="link link--bernier link--white">О нас</a>
                <a href="javascript:;" class="link link--bernier link--white">Контакты</a>
            </div>
        </div>
    </div>
    @@include('mobile_menu.html')
    @@include('cart_modal.html')
</header>
