<header
    class="header@@if(isIndexPage){ header--index} js-header @@if(className){@@className}"
    @@if(isUiKit){style="background-color: black"
    }
>
    <div class="header__container container">
        <div class="header__col">
            <p class="header__col-top">
                <a href="tel:74994091101" class="header__col-tel link link--grey">+7 499 409-1101</a>
                <button type="button" class="header__col-menu-btn js-menu-btn">
                    <svg class="icon icon--menu"><use xlink:href="#icon-menu"></use></svg>
                </button>
            </p>
            <div class="header__col-menu">
                <!-- обратите внимание, у каждо ссылки в десктопном меню должен быть класс js-header-dropdown-btn -->
                <a
                    href="javascript:;"
                    class="link link--bernier link--white link--underline js-header-dropdown-btn @@if(activeLink == 'shop'){is-active}"
                    data-category="shop"
                    >Магазин</a
                >
                <a
                    href="catalogs.html"
                    class="link link--bernier link--white link--underline @@if(activeLink == 'catalog'){is-active} js-header-dropdown-btn"
                    data-category="catalog"
                    >Заказ по каталогам</a
                >
                <a
                    href="bikes_catalog.html"
                    class="link link--bernier link--white link--underline @@if(activeLink == 'bikes'){is-active} js-header-dropdown-btn"
                    >Мотоциклы</a
                >
            </div>
        </div>
        <div class="header__col header__col--logo">
            <a href="index.html" class="header__logo js-header-dropdown-btn">
                <svg class="icon icon--logo" style="transform: rotate(180deg)"><use xlink:href="#icon-logo"></use></svg>
            </a>
        </div>
        <div class="header__col">
            <p class="header__col-top header__col-top--right">
                @@if(isCartActive) {
                <a href="javascript:;" class="header__col-cart link link--white js-cart-btn js-header-dropdown-btn">
                    <span class="header__col-cart-text">Корзина</span>
                    <span class="qt">3</span>
                </a>
                } @@if(!isCartActive) {
                <a class="header__col-cart header__col-cart--empty">Корзина пуста</a>
                }
            </p>
            <div class="header__col-menu">
                <a
                    href="projects_page.html"
                    class="link link--bernier link--white link--underline @@if(activeLink == 'projects'){is-active} js-header-dropdown-btn"
                    >Наши проекты</a
                >
                <a
                    href="about.html"
                    class="link link--bernier link--white link--underline @@if(activeLink == 'about'){is-active} js-header-dropdown-btn"
                    >О нас</a
                >
                <a
                    href="contacts.html"
                    class="link link--bernier link--white link--underline @@if(activeLink == 'contacts'){is-active} js-header-dropdown-btn"
                    >Контакты</a
                >
            </div>
        </div>
    </div>
    <div
        class="header__container header__container--dropdown container js-header-dropdown"
        data-dropdown-category="shop"
    >
        <div class="header__dropdown-col">
            <ul class="header__dropdown-list">
                <li class="header__dropdown-list-item">
                    <a href="shop.html" class="link link--white link--bernier">Выхлопы vance & hines</a>
                </li>
                <li class="header__dropdown-list-item">
                    <a href="shop.html" class="link link--white link--bernier">Выхлопы TBR</a>
                </li>
                <li class="header__dropdown-list-item">
                    <a href="shop.html" class="link link--white link--bernier">Тюнеры</a>
                </li>
                <li class="header__dropdown-list-item">
                    <a href="shop.html" class="link link--white link--bernier">Фильтры</a>
                </li>
                <li class="header__dropdown-list-item">
                    <a href="shop.html" class="link link--white link--bernier">Подсветка</a>
                </li>
                <li class="header__dropdown-list-item">
                    <a href="shop.html" class="link link--white link--bernier">Свет</a>
                </li>
                <li class="header__dropdown-list-item">
                    <a href="shop.html" class="link link--white link--bernier">Крылья</a>
                </li>
                <li class="header__dropdown-list-item">
                    <a href="shop.html" class="link link--white link--bernier">Ручки (грипсы)</a>
                </li>
                <li class="header__dropdown-list-item">
                    <a href="shop.html" class="link link--white link--bernier">Экипировка</a>
                </li>
                <li class="header__dropdown-list-item">
                    <a href="shop.html" class="link link--white link--bernier">Кронштейны</a>
                </li>
                <li class="header__dropdown-list-item">
                    <a href="shop.html" class="link link--white link--bernier">Аксессуары</a>
                </li>
                <li class="header__dropdown-list-item">
                    <a href="shop.html" class="link link--white link--bernier">Запчасти для ТО</a>
                </li>
            </ul>
        </div>
        <div class="header__dropdown-col header__dropdown-col--1of4">
            <a href="shop.html" class="header__dropdown-card-link" style="background-image: url('img/exhaust.png')">
                выхлопные системы vines and hines
            </a>
        </div>
    </div>
    <div
        class="header__container header__container--dropdown container js-header-dropdown"
        data-dropdown-category="catalog"
    >
        <div class="header__dropdown-col header__dropdown-col--1of2">
            <ul class="catalog-list">
                <li class="catalog-list__item">
                    <a href="javascript:;" class="catalog-list__link">
                        <div class="catalog-list__item-pic">
                            <img data-src="./img/catalog1.jpg" class="lazyload" alt="" />
                        </div>
                        <p class="catalog-list__item-text">V-TWIN BICKER’S Choice</p>
                        <p class="catalog-list__item-text">2019</p>
                    </a>
                </li>
                <li class="catalog-list__item">
                    <a href="javascript:;" class="catalog-list__link">
                        <div class="catalog-list__item-pic">
                            <img data-src="./img/catalog2.jpg" class="lazyload" alt="" />
                        </div>
                        <p class="catalog-list__item-text">Drag Specialites</p>
                        <p class="catalog-list__item-text">2019</p>
                    </a>
                </li>
                <li class="catalog-list__item">
                    <a href="javascript:;" class="catalog-list__link">
                        <div class="catalog-list__item-pic">
                            <img data-src="./img/catalog1.jpg" class="lazyload" alt="" />
                        </div>
                        <p class="catalog-list__item-text">V-TWIN BICKER’S Choice</p>
                        <p class="catalog-list__item-text">2019</p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="header__dropdown-col header__dropdown-col--1of2">
            <p class="header__dropdown-col-text">
                Cообщите нам артикул товара из&nbsp;каталога.Стоимость заказа&nbsp;&mdash; цена в&nbsp;каталоге +$15/кг.
                Доставка за&nbsp;1-2&nbsp;недели.
            </p>
            <p class="mb-0"><a href="tel:+74994091101" class="link link--white">+7 499 409 1101</a></p>
            <p class="mb-0"><a href="tel:+79646430101" class="link link--white">+7 964 643 0101</a></p>
            <p class="mb-0"><a href="mailto:info@harley-parts.ru" class="link link--white">info@harley-parts.ru</a></p>
        </div>
    </div>
    @@include('mobile_menu.html') @@include('cart_modal.html')
</header>
<div class="header-placeholder@@if(isIndexPage){ header-placeholder--index}"></div>
