<div class="mobile-menu js-mobile-menu faster">
    <div class="container">
        <button class="btn-close js-menu-close">
            <svg class="icon icon--close"><use xlink:href="#icon-close"></use></svg>
        </button>
        <ul class="mobile-menu__menu">
            <li class="mobile-menu__menu-item">
                <a href="javascript:;" class="link link--bernier link--white">Магазин</a>
            </li>
            <li class="mobile-menu__menu-item">
                <a href="javascript:;" class="link link--bernier link--white">Заказ по каталогам</a>
            </li>
            <li class="mobile-menu__menu-item">
                <a href="javascript:;" class="link link--bernier link--white">мотоциклы</a>
            </li>
            <li class="mobile-menu__menu-item">
                <a href="javascript:;" class="link link--bernier link--white">наши проекты</a>
            </li>
            <li class="mobile-menu__menu-item">
                <a href="javascript:;" class="link link--bernier link--white">о нас</a>
            </li>
            <li class="mobile-menu__menu-item">
                <a href="javascript:;" class="link link--bernier link--white">контакты</a>
            </li>
        </ul>

        <hr class="mobile-menu__hr">

        <ul class="mobile-menu__contacts">
            <li class="mobile-menu__contacts-item">
                <a href="tel:74994091101" class="link link--grey ">+7 499 409-1101</a>
            </li>
            <li class="mobile-menu__contacts-item">
                <a href="tel:+7 964 643-0101" class="link link--grey">+7 964 643-0101</a>
            </li>
            <li class="mobile-menu__contacts-item">
                <a href="mailto:info@harley-parts.ru" class="link link--grey ">info@harley-parts.ru</a>
            </li>
        </ul>
    </div>
</div>
