<div class="product@@if(className){ @@className}">
    <a href="javascript:;" class="product__img">
        <img data-src="@@imgSrc" class="lazyload">
    </a>
    @@if(isNew) {
        <span class="product__icon" data-tooltip="Парадигма трансформации общества важно символизирует постиндустриализм, последнее особенно ярко выражено в ранних работах.">
            <svg class="icon icon--new"><use xlink:href="#icon-new"></use></svg>
        </span>
    }
    @@if(oldPrice) {
        <span class="product__icon product__icon--flash" data-tooltip="Парадигма трансформации общества важно символизирует постиндустриализм, последнее особенно ярко выражено в ранних работах.">
            <svg class="icon icon--flash"><use xlink:href="#icon-flash"></use></svg>
        </span>
    }
    <div class="product__content">
        <div class="product__content-col">
            <a href="javacript:;" class="product__company">@@companyName</a>
            <a href="javascript:;" class="product__name">@@productName</a>
        </div>
        <div class="product__content-col">
            @@if(oldPrice) {
                <p class="product__price product__price--old">@@oldPrice ₽</p>
            }
            <p class="product__price@@if(oldPrice){ product__price--red}">@@price ₽</p>
        </div>
    </div>
</div>
