<h2 class="@@titleClassName">@@title</h2>
<ul class="projects @@if(projectsClassName){projectsClassName}">
    <li class="project">
        <a href="javascript:;" class="project__link">
            <img data-src="https://placehold.it/300x300" class="project__link-bg lazyload" alt="" />
            <div class="project__link-info">
                <div class="project__link-info-date">
                    <span class="project__link-info-year">2019</span>
                    <span class="project__link-info-month">22 сентября</span>
                </div>
                <div class="project__link-name">2015 breakout <br />radioactive green</div>
            </div>
        </a>
    </li>
    <li class="project">
        <a href="javascript:;" class="project__link">
            <img data-src="https://placehold.it/300x300" class="project__link-bg lazyload" alt="" />
            <div class="project__link-info">
                <div class="project__link-info-date">
                    <span class="project__link-info-year">2019</span>
                    <span class="project__link-info-month">22 сентября</span>
                </div>
                <div class="project__link-name">2015 breakout <br />radioactive green</div>
            </div>
        </a>
    </li>
    <li class="project">
        <a href="javascript:;" class="project__link">
            <img data-src="https://placehold.it/300x300" class="project__link-bg lazyload" alt="" />
            <div class="project__link-info">
                <div class="project__link-info-date">
                    <span class="project__link-info-year">2019</span>
                    <span class="project__link-info-month">22 сентября</span>
                </div>
                <div class="project__link-name">2015 breakout <br />radioactive green</div>
            </div>
        </a>
    </li>
    <li class="project">
        <a href="javascript:;" class="project__link">
            <img data-src="https://placehold.it/300x300" class="project__link-bg lazyload" alt="" />
            <div class="project__link-info">
                <div class="project__link-info-date">
                    <span class="project__link-info-year">2019</span>
                    <span class="project__link-info-month">22 сентября</span>
                </div>
                <div class="project__link-name">2015 breakout <br />radioactive green</div>
            </div>
        </a>
    </li>
    <li class="project">
        <a href="javascript:;" class="project__link">
            <img data-src="https://placehold.it/300x300" class="project__link-bg lazyload" alt="" />
            <div class="project__link-info">
                <div class="project__link-info-date">
                    <span class="project__link-info-year">2019</span>
                    <span class="project__link-info-month">22 сентября</span>
                </div>
                <div class="project__link-name">2015 breakout <br />radioactive green</div>
            </div>
        </a>
    </li>
</ul>
