.browse-happy {
    background: #fff;
    padding: 20px 0;
    text-align: center;

    strong {
        color: red;
    }

    &__notice {
        font-size: 20px;
    }

    &__security,
    &__recommend {
        font-size: 12px;
    }

    &__update {
        font-size: 14px;
    }
}
