.checkout {
    &__back-link {
        margin-bottom: calc($gutter-step * 7);
    }

    &__form {
        &-descr {
            margin-bottom: calc($gutter-step * 3);
        }
    }

    &__pickup-map {
        width: 100%;
        height: 264px;
    }
}
