.index-page-hl {
    margin-top: 0;
    margin-bottom: calc($gutter-step * 7);
    font-size: 40px;
    line-height: 1.4;

    @media (--tablet-lg) {
        font-size: 28px;
    }
}

.index-page-bikes {
    margin-bottom: calc($gutter-step * 15);
    padding-top: calc($gutter-step * 13);
}

.index-page-brands {
    margin-bottom: calc($gutter-step * 15);
}
