
.parsley-error {
    border-color: $cl-red;
}

.parsley-error-message {
    color: $cl-red;
    font-size: 12px;
    /* такие отступы, чтобы поместилась 1 строка ошибки без дёрганий */
    margin: -27px 0 7px 0;
}
