.product-page {
    display: flex;
    align-items: space-between;

    &__carousel {
        width: calc(100% / 3 * 2);
    }

    &__info {
        width: calc(100% / 4);
    }
}

.product-page-desc {
    width: calc(100% / 3 * 2);
    margin-bottom: calc($gutter-step * 10);
}
