.socials {
    display: inline-flex;

    &__item {
        margin-bottom: 0;
        margin-right: calc($gutter-step * 4);

        &:last-child {
            margin-right: 0;
        }
    }

        &__link {
            fill: $cl-global-invert;
        }
}
