/* @see https://atomiks.github.io/tippyjs/themes/ */

.tippy-tooltip {
    &.tooltip-theme {
        background-color: $cl-global-invert;
        max-width: 300px;
        padding: calc($gutter-step * 2) calc($gutter-step * 3);
        box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);

        .tippy-content {
            text-align: left;
            font-size: 12px;
            color: $cl-global;
        }
    }
}
